@using WeddingPlanner.Models
@model List<Wedding>
<h1>Welcome to the Wedding Planner</h1> | <a href="/logout">Logout</a>

<table class="table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>Wedding</th>
            <th>Date</th>
            <th>Guest</th>
            <th>Action</th>
        </tr>
    </thead>
        <tbody>
                @foreach(var wedding in Model)
                {
                    <tr>
                        <td><a href="/wedding/@wedding.WeddingId">@wedding.WedderOne & @wedding.WedderTwo</a></td> 
                        <td>@wedding.Date.ToString("MMM dd, yyyy, hh tt")</td>
                        <td>@wedding.GuestList.Count</td>
                        <td>
                        @if(wedding.CreatorId == ViewBag.User.UserId)
                        {
                            <a href="/delete/@wedding.WeddingId">Delete</a>
                        }
                        else
                        {
                            if(wedding.GuestList.Any(w=>w.UserId == ViewBag.User.UserId))
                            {
                                <a href="/unrsvp/@wedding.WeddingId">UN-RSVP</a>
                            }
                            else
                            {
                                <a href="/rsvp/@wedding.WeddingId">RSVP</a>
                            }
                        }
                        </td>
                    </tr>
                }
            
        </tbody>
</table>
<button><a href="/newwedding">Add a new wedding</a></button>

